@page "/dogs/details"
@using Microsoft.EntityFrameworkCore
@using PetHouse.Models
@inject IDbContextFactory<PetHouse.Data.PetHouseContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Dog</h2>
    <hr />
    @if (dog is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">DogName</dt>
            <dd class="col-sm-10">@dog.DogName</dd>
            <dt class="col-sm-2">DogBreed</dt>
            <dd class="col-sm-10">@dog.DogBreed</dd>
            <dt class="col-sm-2">DogAge</dt>
            <dd class="col-sm-10">@dog.DogAge</dd>
            <dt class="col-sm-2">DogSize</dt>
            <dd class="col-sm-10">@dog.DogSize</dd>
            <dt class="col-sm-2">DogWeight</dt>
            <dd class="col-sm-10">@dog.DogWeight</dd>
            <dt class="col-sm-2">DogColor</dt>
            <dd class="col-sm-10">@dog.DogColor</dd>
            <dt class="col-sm-2">DogPersonality</dt>
            <dd class="col-sm-10">@dog.DogPersonality</dd>
            <dt class="col-sm-2">DogIsFriendlyWithChildren</dt>
            <dd class="col-sm-10">@dog.DogIsFriendlyWithChildren</dd>
            <dt class="col-sm-2">DogIsFriendlyWithCats</dt>
            <dd class="col-sm-10">@dog.DogIsFriendlyWithCats</dd>
            <dt class="col-sm-2">DogHealthInformation</dt>
            <dd class="col-sm-10">@dog.DogHealthInformation</dd>
            <dt class="col-sm-2">DogIsAdopted</dt>
            <dd class="col-sm-10">@dog.DogIsAdopted</dd>
            <dt class="col-sm-2">DogPicture</dt>
            <dd class="col-sm-10">@dog.DogPicture</dd>
        </dl>
        <div>
            <a href="@($"/dogs/edit?id={dog.Id}")">Edit</a> |
            <a href="@($"/dogs")">Back to List</a>
        </div>
    }
</div>

@code {
    private Dog? dog;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        dog = await context.Dog.FirstOrDefaultAsync(m => m.Id == Id);

        if (dog is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
